body {background-color: #EEE;
	font-family: Helvetica, Arial, sans-serif;
}

/*what all links look like*/
a {
	text-decoration: none;
}
a:hover {
    color: #003366;
}

/*unordered lists*/
/*margin order top right bottom left*/
/*if you include only two it's top+bot and r+l*/
ul {
	list-style-type: none;
	/*padding: 10px;*/
}

li {
	margin: 10px ;
}

/*the entire page*/
#container {
	background-color: white;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#header {
	background-color: #66CCff;
	color: white;
	text-align: center;
	padding: 10px;
}

/*both halves on content together*/
#content{
	padding: 10px;
}

/*navigation bar on left*/
#nav {
	width: 170px;
	float: left;
}
#nav .selected{
	font-weight: bold;
}

/*the photo in the top right*/
/* Top, right, bottom, left*/
#photo {
	float: right;
	padding: 0px 0px 0px 10px;
 }

#photo img{border:5px solid #000000;}

img.resize{
   width:300px;
}

/*right, main part of contents*/
#main {
	width: 600px;
	float: right;
}
#about {
	width: 340px;
	margin-left: 170px;
	float:center;
		text-align:left;
		padding:10px;
	}

#footer {
	clear: both;
	padding: 10px;
	background-color: #999999;
	color: white;
	text-align: right;
}
